---
- name: Upgrade all packages to the latest version (Debian)
  tags: packages
  apt:
    upgrade: true
    state: latest
    update_cache: yes
    autoremove: yes
  become: true
  become_method: sudo

- local_action: stat path=/etc/cloud/cloud.cfg
  register: config_file

- name: Change configuration for to be able change name of VM (Debian)
  lineinfile:
    path: /etc/cloud/cloud.cfg
    regexp: '^preserve_hostname:'
    line: 'preserve_hostname: true'
  become: true
  when: config_file.stat.exists and ('WSL' not in ansible_facts["kernel"])

- name: All related to install packages
  become: true
  tags: packages
  block:

    - name: Set all the repositories that we need to install all the tools that we use.
      ansible.builtin.deb822_repository:
        name: "{{ item.filename }}"
        uris: "{{ item.repo }}"
        signed_by: "{{ item.repo_key }}"
        state: "{{ item.state }}"
        suites: "{{ item.suites }}"
        types: "{{ item.types }}"
        components: "{{ item.components }}"
        architectures: amd64
        enabled: true
      with_items:
        "{{ repo_list }}"
      when: ("WSL" not in ansible_facts["kernel"]) or (item.repo_key | default('', true) | trim != '')

    - name: Install and Remove the Custom Packages that we want
      apt:
        name: "{{ item.packages }}"
        state: "{{ item.state }}"
        force: yes
        update_cache: yes
      with_items:
        "{{ package_list }}"

- name: Changing the size max of files that were can handle for Visual Studio Code
  become: true
  lineinfile:
    path: /etc/sysctl.conf
    regexp: 'fs.inotify.max_user_watches='
    line: fs.inotify.max_user_watches=524288
    create: yes

- name: All releated with the services
  become: true
  block:
    - name: Ensure sshd service is enabled and running
      service:
        name: ssh
        enabled: yes
        state: started

    - name: Ensure atop service is enabled and running
      service:
        name: atop
        enabled: yes
        state: started

- name: Setting all the things to Jekyll automatically
  tags: jekyll
  when: '"WSL" not in ansible_facts["kernel"] and install_jekyll and ansible_check_mode == false'
  block:
    - name: Installing all the necessary packages for Jekyll
      apt:
        name: "{{ item.packages }}"
        state: "{{ item.state }}"
        force: yes
        update_cache: yes
      with_items:
        "{{ package_jekyll }}"

    - name: Settings the environment to work with Jekyll
      blockinfile:
        marker: "# {mark} Install Ruby Gems to ~/gems"
        path: "/home/{{ default_user }}/.bashrc"
        state: present
        block: |
          export GEM_HOME="$HOME/gems"
          export PATH="$HOME/gems/bin:$PATH"

- name: Setting all the things to Microk8s start automatically
  tags: microk8s
  when: '"WSL" not in ansible_facts["kernel"] and install_microk8s and ansible_check_mode == false'
  block:
    - name: Ensure that Cluster Agent service is enabled and running
      service:
        name: snap.microk8s.daemon-cluster-agent.service
        enabled: yes
        daemon_reload: yes
        state: started

    - name: Ensure that Containerd service is enabled and running
      service:
        name: snap.microk8s.daemon-containerd.service
        enabled: yes
        daemon_reload: yes
        state: started

    - name: Ensure that K8-Dqlite service is enabled and running
      service:
        name: snap.microk8s.daemon-k8s-dqlite.service
        enabled: yes
        daemon_reload: yes
        state: started

    - name: Ensure that Kubelite service is enabled and running
      service:
        name: snap.microk8s.daemon-kubelite.service
        enabled: yes
        daemon_reload: yes
        state: started

    - name: Ensure that ApiServer-Kicker service is enabled and running
      service:
        name: snap.microk8s.daemon-apiserver-kicker.service
        enabled: yes
        daemon_reload: yes
        state: started

# Instalar el cliente de mysql
