---
- name: rebuild alias file
  command: newaliases

- name: Restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted
    enabled: yes
    daemon_reload: yes

- name: Restart firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: restarted
    enabled: yes
    daemon_reload: yes
