[Unit]
Description=VNC Server for X11
Requires=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -rfbauth {{ x11vnc_passwd_file }} -auth /home/usuario/.Xauthority -usepw -nowf -noxdamage -forever -loop -shared
ExecStop=kill -9 $(ps -ef | grep x11vnc | grep usuario | grep -v grep | head -1 | awk '{print $2}')c
Restart=on-failure

[Install]
WantedBy=graphical.target
